<% if @attendee.errors.any? %>
  <div id = "error explanation">
    <div class = "alert alert-danger">
      <h4><%= pluralize(@attendee.errors.count, "error") %> prohibited this event from being saved: </h4>
    </div>
    <ul>
    <% @attendee.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
