<h1> List of Attendees </h1>

<table>
  <thead>
    <tr>
      <th> Emails </th>
      <th> Check in Time </th>
      <th colspan = "3"></th>
    </tr>
  </thead>

  <tbody>
  <% @attendees.each do |attendee| %>
    <tr>
      <td><%= attendee.email %></td>
      <td><%= attendee.created_at %></td>
      <td><%= link_to "Show", event_attendees_path %></td>
    </tr>
  <% end %>
  </tbody>
</table>
